set hlsearch
set incsearch
set nojoinspaces  " Prevents inserting two spaces after punctuation on a join (J)
set number
set relativenumber


set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling

" Emulated Plugins
set surround
set nerdtree
set commentary
set easymotion
" Multiple cursors support
set multiple-cursors

" Use Idea to join lines smartly
set ideajoin

" These settings are from - https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
"
" Copy to system clipboard as well
set clipboard+=unnamed

" Use Q for formatting the current paragraph (or visual selection)
vmap Q gq
nmap Q gqap

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" key bindings for quickly moving between windows
" h left, l right, k up, j down
" nmap <leader>h <c-w>h
" nmap <leader>l <c-w>l
" nmap <leader>k <c-w>k
" nmap <leader>j <c-w>j

let mapleader=" "
imap <c-l> <DEL>
" imap <c-CR> <ESC>O
imap <c-f> <RIGHT>
imap <c-b> <LEFT>
imap <c-a> <HOME>
imap <c-e> <END>

map <SPACE> <Nop>

vmap <leader>y "+y
vmap <leader>p "+p
nmap <leader>y "+y
nmap <leader>p "+p


" Closing tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

nmap <leader>n :NERDTree<cr>

imap <c-j> <Action>(CodeCompletion)

" Navigation
nmap <leader>L :action RecentLocations<cr>
nmap <leader>u :action FindUsages<cr>
nmap <leader>; :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>i :action GotoImplementation<cr>
nmap <leader>a <Action>(SelectInProjectView)
nmap <leader>b :action ShowBookmarks<cr>

" can be replace
" nmap <leader>e :action RecentFiles<cr>
" nmap <leader>h <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>h <Action>(ShowIntentionActions)

" Errors
nmap <leader>x :action GotoNextError<cr>
nmap <leader>X :action GotoPreviousError<cr>

" Refactorings
vmap T :action Refactorings.QuickListPopupAction<cr>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>rI :action OptimizeImports<cr>

" Inspection
nmap <leader>rc :action InspectCode<cr>

" VCS operations
nmap <leader>yy :action Vcs.Show.Local.Changes<cr>
nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
nmap <leader>ya :action Annotate<cr>
nmap <leader>yl :action Vcs.Show.Log<cr>
nmap <leader>yd :action Compare.LastVersion<cr>
nmap <leader>yr :action Git.ResolveConflicts<cr>

" Terminal
nmap <leader>t :action ActivateTerminalToolWindow<cr>

" External GVim
"nmap <leader>v :action Tool_External Tools_gvim<cr>

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
" nmap gcc :action CommentByLineComment<cr>

" unimpaired mappings - from https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurrence<cr>
nnoremap ]q :action NextOccurrence<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Search
nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>
vmap <leader>/ :action Find<cr>
vmap <leader>\ :action FindInPath<cr>

" Moving lines
nmap [e :action MoveLineUp<cr>
nmap ]e :action MoveLineDown<cr>
" Moving statements
nmap [s :action MoveStatementUp<cr>
nmap ]s :action MoveStatementDown<cr>

" Building, Running and Debugging
nmap ,c :action CompileDirty<cr>
nmap ,r :action Run<cr>
nmap ,b :action Debug<cr>
nmap ,c :action RunClass<cr>
nmap ,d :action DebugClass<cr>
nmap ,t :action RerunTests<cr>
nmap ,T :action RerunFailedTests<cr>

